#output{
    border: 1px solid #000;
    background-color: #000;
    padding: 10px;
    color: #FFF;
    font-size: 16px;
    margin: 10px;
}

[tab-nav] {

}

[tab-content] {
    display: none;
    min-height: 100px;
    background-color: #D4D4D4;
}

.active{
    display: inline-block;
    font-weight: bold;
}

div.active[tab-content]{
    display: block;
}